@model HRSW2.Entities.Salary

@{
    ViewData["Title"] = "Create";
}

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<h1>Create</h1>

<h4>Salary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BasicSalary" class="control-label"></label>
                <input asp-for="BasicSalary" class="form-control" id="BasicSalary" />
                <span asp-validation-for="BasicSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OTSalary" class="control-label"></label>
                <input asp-for="OTSalary" class="form-control" id="OTSalary" />
                <span asp-validation-for="OTSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bonus" class="control-label"></label>
                <input asp-for="Bonus" class="form-control" id="Bonus" />
                <span asp-validation-for="Bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSalary" class="control-label"></label>
                <input asp-for="TotalSalary" class="form-control" id="TotalSalary" />
                <span asp-validation-for="TotalSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosId" class="control-label"></label>
                <select asp-for="PosId" class="form-control" asp-items="ViewBag.PosId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MonthId" class="control-label"></label>
                <select asp-for="MonthId" class="form-control" asp-items="ViewBag.MonthId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#BasicSalary").change(function () {
            var BasicSalary = ($("#BasicSalary").val() == "") ? 0 : parseFloat($("#BasicSalary").val());
            var OTSalary = ($("#OTSalary").val() == "") ? 0 : parseFloat($("#OTSalary").val());
            var Bonus = ($("#Bonus").val() == "") ? 0 : parseFloat($("#Bonus").val());

            var total = BasicSalary + OTSalary + Bonus;
           
            $("#TotalSalary").val(total)
        });

        $("#OTSalary").change(function () {
            var BasicSalary = ($("#BasicSalary").val() == "") ? 0 : parseFloat($("#BasicSalary").val());
            var OTSalary = ($("#OTSalary").val() == "") ? 0 : parseFloat($("#OTSalary").val());
            var Bonus = ($("#Bonus").val() == "") ? 0 : parseFloat($("#Bonus").val());

            var total = BasicSalary + OTSalary + Bonus;

            $("#TotalSalary").val(total)
        })

        $("#Bonus").change(function () {
            var BasicSalary = ($("#BasicSalary").val() == "") ? 0 : parseFloat($("#BasicSalary").val());
            var OTSalary = ($("#OTSalary").val() == "") ? 0 : parseFloat($("#OTSalary").val());
            var Bonus = ($("#Bonus").val() == "") ? 0 : parseFloat($("#Bonus").val());

            var total = BasicSalary + OTSalary + Bonus;
           
            $("#TotalSalary").val(total)
        })

    });


    

</script>